*{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: silver;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px !important;
    padding: 0px !important;
    height: auto;
}

/*------------------Cabeça------------------*/

header{
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100px;
    height: auto;
    width: 100%;
    color: silver;
    background-color: black;  
}

#logo{
    width: 70px;
    height: 70px;
    margin: 10px;
}

/*------------------Corpo------------------*/

main{
    background-color: #005aa6;
    color: silver;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 100%;      
}

#box{
    width: 100%;
    height:auto;
    display: grid;
    justify-items: center;
    justify-content: center;
    margin: 30px 0 0 0;
    background-image: url(imagens/court.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "i1 v i2";
                        
}

#video{
    grid-area:v;
    min-width: 450px;
    min-height: 315px;
    max-width: 700px;
    width: 100%;
    height: 90%;
    margin:0 0 0 -20px;
    align-self: center;
}

#image{
    grid-area: i1;
    height: 350px;
    width: auto;
    align-self: center;
}

#image2{
    grid-area: i2;
    height: 450px;
    width: auto;
    align-self: center;
}

section{
    margin: 0 20px 20px 20px;
}

#sobre{
    text-align: center;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
    text-align: center;
}

h3{
    font-size: 30px;
    text-align: center;
}

#tribute-link{
    font-size: 20px;
    margin: 30px;
    transition: 0.5s ease;
}

#tribute-link:hover{
    color: black;
    font-weight: 800;
    transition: 0.5s ease;
}

/*-----Responsividade-----*/

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    h1{
        text-align: center;
        margin: 0px;
    }

    #logo{
        align-self: center;
    }

    #box{
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: center;
        margin:0;
        padding: 0;
        background-image: none;
    }

    #video{
        margin: 0;
        min-width: 0;
    }

    #image{
        width: 0px;
        height: 0px;
        margin: 0px;
    }

    #image2{
        width: 0px;
        height: 0px;
        margin:0px;
    }

    section{
        margin: 0 10px 10px 10px;
    }
}

/*------------------Pé------------------*/

footer{
    width: 100%;
    height: 100px;
    background-color: black;
    color: silver;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}  